<h1> ' </h1>
  <br>
<h1>USERS</h1>
<h4>The who's who</h4>
<br>
<% @users.each do |user| %>
<br>
<strong> * <%= link_to user.name, user_path(user) %></strong>
 * <%= user.role %>
 <br>

 

<%end%>
<br><br>
<%= image_tag("jessicapink1.jpg") %>

| <%= link_to "Add New User", new_user_path %> | 

