<h1>'</h1><br>
<body style="background-color: #008080;">
<h1>ANALYTICS</h1>
<h4>Let's see how things stack up:</h4>
<br><br>
* Most Popular Party : 
<br><br>
 * Total Users :
<br><br>
* Total Events :
<br><br>
* Total Activities : 
<br><br>
* First Party of the Year :

</body>