<h1>'</h1><br>
<body>
<h1>ANALYTICS</h1>
<h4>Let's see how things stack up:</h4>
<br>
 <% @events = Event.all %>
RSVP's :
   

* Most Popular Party : 
<br><br>
 * Total Users :
<br><br>
* Total Events :
<br><br>
* Total Activities : 
<br><br>
* First Party of the Year :

<br><br>
        

     <% @events.each do |event| %> 
          <%  if event.users.count > 0 %> 
              <%=  event.event_name %> :
            <%=  event.users.count %> 
           <%  end %> 
           <br>
        <%  end %> 

</body>