<body style="background-color: #008080;">
<table width=100% height=100%> 
    <tr>
        <td style="text-align: center; vertical-align: middle;">
            <%=image_tag("white_bb_logo.jpg")%>
        </td>
    </tr>
</table>
</body>