
  <h1> ' </h1>
  <br>
<h1>ACTIVITIES </h1>
<h4>(aka excuses to day drink)</h4>
<br>
<% @activities.each do |activity| %>
<br>
<%= link_to image_tag("#{activity.image}"), activity_path(activity) %>
<br>
<% end %>
<br><br>


| <%= link_to "Add New Activity", new_activity_path %> | 

